<div>
  <h3>Useres list:</h3>
  <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr jce-user *ngFor = "let user of users"
        [class.active] = "currentUser == user"
        (click) = "select(user)" 
        [user] = user 
        (deleteEvent) = "deleteUser($event)"
        (editEvent) = "editUser($event)">
      </tr>
    </tbody>
  </table>
</div>
