<div class="container">
  <h1>
    {{title}}
  </h1>
  <nav>
    <a routerLink="/users" routerLinkActive="active" >Users</a> | 
    <a routerLink="/posts" routerLinkActive="active">Posts</a> |
    <a routerLink="/fire" routerLinkActive="active">Firebase test</a>
  </nav>
  <router-outlet></router-outlet>
  <!--<jce-users></jce-users>
  <app-posts></app-posts>-->
</div>
