<div class="panel panel-default">
  <div class="panel-heading">
        <h4>
          {{post.title}}
        </h4>
        <div>
          <button class="btn btn-danger" (click) = "sendDelete(post.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
          <button class="btn btn-info" (click) = "editPost(post.id)" >
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>
        <h6>
          Authors:
          <ul>
            <li *ngFor="let user of post.userNames">
              {{(user | async)?.name}}
            </li>
          </ul>
        </h6>
  </div>
  <div class="panel-body">
    <p>
      {{post.body}}
    </p>
  </div>
</div>
