<div class="row">
  <h3>Posts:</h3>
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary pull-right" (click)="newPost()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>  
  </div>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <div class="col-xs-12 col-sm-4" *ngFor="let post of posts">
    <app-post [post]="post" (editEvent)="editPost($event);" (deleteEvent)="confirmDelete($event);"></app-post>
  </div>
  <modal [animation]="true" [keyboard]="true" [cssClass]="cssClass" #modal>
        <form #modalForm="ngForm">
            <modal-header [show-close]="true">
                <h4 class="modal-title">{{modalTitle}}</h4>
            </modal-header>
            <modal-body>
                <div class="form-group">
                    <label for="firstName">Title</label>
                    <input type="text" class="form-control" required [(ngModel)]="model.title" name="firstName" id="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Body</label>
                    <textarea class="form-control" required [(ngModel)]="model.body" name="lastName" id="lastName"></textarea>
                </div>
                <div class="form-group">
                    <label for="users">Contributers</label>
                    <select multiple class="form-control" [(ngModel)]="model.users" name="authors" id="authors"> 
                        <option *ngFor="let user of users" [ngValue]="user.$key" >{{user.name}}</option>
                    </select>
                </div>
            </modal-body>
            <modal-footer>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="savePost()">Save</button>
            </modal-footer>
        </form>
    </modal>
    <modal class="modal-danger" [animation]="true" [keyboard]="true" (onClose)="deletePost(currentPost.id)" #deleteModal>
      <modal-header [show-close]="true">
          <h4 class="modal-title">Realy delete {{currentPost.title}}?</h4>
      </modal-header>
      <modal-footer>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteModal.dismiss()">Cancel</button>
          <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="deleteModal.close()">Delete</button>
      </modal-footer>
    </modal>
</div>
