
    <td *ngIf = "!isEdit" >{{user.name}}</td>
    <td *ngIf = "isEdit" ><input type="text" [(ngModel)] = "user.name"></td>
    <td *ngIf = "!isEdit" >{{user.email}} </td>
    <td *ngIf = "isEdit" ><input type="text" [(ngModel)] = "user.email"></td>
    <td><button class="btn btn-danger" (click) = "sendDelete()" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
    <td><button class="btn btn-info" (click) = "toggleEdit()" [innerHTML]="editButtonText"></button></td>